<div class="container c-alt" ng-controller="stockCtrl as st">

    <div class="text-center">
        <h2 class="f-400">Изберете тип на стокова операция</h2>
        <p class="c-gray m-t-20 m-b-20">Cras pretium elementum lacus ac auctor. Sed id mi nec ex placerat iaculis. Suspendisse volutpat purus ac metus venenatis rutrum. Morbi sit amet dui in nisi lacinia varius. Aliquam vehicula molestie sagittis. Cras a lectus nulla. Nulla accumsan volutpat nibh at tristique. Aenean varius massa a euismod posuere. Sed at ante imperdiet, fermentum purus at, aliquam nulla. Mauris blandit elit ac ipsum fermentum, vitae consequat velit vestibulum. Vivamus convallis fermentum nunc et varius.</p>
    </div>

    <div class="clearfix"></div>

    <div class="row m-t-25">
        <div class="col-sm-3">
            <div class="card pt-inner">
                <div class="pti-header bgm-amber">
                    <h2><i class="zmdi zmdi-download"></i></h2>
                    <div class="ptih-title">Доставка</div>
                </div>

                <div class="pti-body">

                    <div class="ptib-item">
                        Aliquam erat volutpat hasellus
                    </div>
                </div>

                <div class="pti-footer">
                    <a  ui-sref="app.stock.delivery" class="bgm-amber"><i class="zmdi zmdi-check"></i></a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card pt-inner">
                <div class="pti-header bgm-green">
                    <h2><i class="zmdi zmdi-upload"></i></h2>
                    <div class="ptih-title">Изписване</div>
                </div>

                <div class="pti-body">

                    <div class="ptib-item">
                        Sinnab wanliset wareder thenli
                    </div>
                </div>

                <div class="pti-footer">
                    <a href="" class="bgm-green"><i class="zmdi zmdi-check"></i></a>
                </div>
            </div>
        </div>

        <div class="col-sm-3">
            <div class="card pt-inner">
                <div class="pti-header bgm-cyan">
                    <h2><i class="zmdi zmdi-delete"></i></h2>
                    <div class="ptih-title">Брак</div>
                </div>

                <div class="pti-body">

                    <div class="ptib-item">
                        Hasellus ultrices tincidunt
                    </div>
                </div>

                <div class="pti-footer">
                    <a ui-sref="" class="bgm-cyan"><i class="zmdi zmdi-check"></i></a>
                </div>
            </div>
        </div>


        <div class="col-sm-3">
            <div class="card pt-inner">
                <div class="pti-header bgm-lime">
                    <h2><i class="zmdi zmdi-eye"></i></h2>
                    <div class="ptih-title">Ревизия</div>
                </div>

                <div class="pti-body">

                    <div class="ptib-item">
                        Hasellus ultrices tincidunt
                    </div>
                </div>

                <div class="pti-footer">
                    <a ui-sref="app.stock.inventory-check" class="bgm-lime"><i class="zmdi zmdi-check"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
